<%= form_for @party, html: { class: 'form-inline', role: 'form' } do |f| %>
  
<div class="well">
  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control', size: 50 %>
    </div>
  </div>
</div>

<div class="well">
    <div class="form-group">
      <%= f.fields_for :budgets do |builder| %>
        <%= render 'budget_fields', f: builder %>
      <% end %>
      <%= link_to_add_fields "Add Budget Options", f, :budgets %>
    </div>
</div>

<div class="well">
  <div class="form-group">
    <%= f.fields_for :date_options do |builder| %>
      <%= render 'date_option_fields', f: builder %>
    <% end %> <br/>
    <%= link_to_add_fields "Add Date Options", f, :date_options %> <br/>
  </div>
</div>

<div class="well">
  <div class="form-group">
    <%= f.fields_for :participants do |builder| %>
      <%= render 'participant_fields', f: builder %>
    <% end %><br/>
    <%= link_to_add_fields "Add Participant", f, :participants %> <br/>
  </div>
</div>

  
  <div class="actions" >
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
