<%= form_for @party do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div> <br/>

  <%= f.fields_for :budgets do |builder| %>
    <%= render 'budget_fields', f: builder %>
  <% end %> <br/>
  <%= link_to_add_fields "Add Budget Options", f, :budgets %> <br/>

  <%= f.fields_for :date_options do |builder| %>
    <%= render 'date_option_fields', f: builder %>
  <% end %> <br/>
  <%= link_to_add_fields "Add Date Option", f, :date_options %> <br/>

  <%= f.fields_for :participants do |builder| %>
    <%= render 'participant_fields', f: builder %>
  <% end %><br/>

  <%= link_to_add_fields "Add Participant", f, :participants %> <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
