<fieldset>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div><br/>
<<<<<<< HEAD
</fieldset>
=======
  </fieldset>
>>>>>>> 20432586578cb33c1dd0b576ca55f479ddc075b2
