<h1>Invite the hens to <%= @party.name %></h1>
<p>
  Send all the hens an email, you write the message and we'll add
  a special link for them to join your hen party.
</p>
<%= form_for :invitation, url: send_party_invitations_path,
                          html: { role: 'form' } do |f| %>
  
  <div class='form-group'>
    <%= f.label :subject %><br />
    <%= f.text_field :subject,
                     :placeholder => "#{@party.name}, it is time to celebrate!",
                     :autofocus => true,
                     :class => "form-control" %>
  </div>
  <div class='form-group'>
    <%= f.label :message %><br />
    <%= f.text_area :message,
                   :value => "Hello lovely ladies,

I hope you are all well.

Our darling friend … is getting married in …. And what better way to send her into married life than with an awesome girly weekend away!

The bride would love to have you with her to celebrate this very big time in her life.

As you see, there is a link at the bottom of this email. This will take you to the Hen Party App, were you will be asked to complete a form specifying when you are free and your budget.

This will help me get the wheels in motion.

I look forward to getting your feedback.

All the best,

Chief Hen",
                   :class => "form-control",
                   :rows => 8 %>
  </div>

  <div class='form-group'>
    <%= f.submit 'Send invitations', :class => 'btn btn-default' %>
  </div>

<% end %>