<%= form_for(@party) do |f| %>
  <% if party_and_user_errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(party_and_user_errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% party_and_user_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex-grid">
    <div>
      <div class="well">
        <div class="form-group">
          <%= f.label :name, 'Name your hen party' %><br>
          <%= f.text_field :name, class: "form-control", placeholder: "Sam's Hen Party" %>
        </div>
        <div>
          <ul>
            <li>Three great things</li>
            <li>about organising a hen party</li>
            <li>with Hen Party App</li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <div class="well">
        <h4>Sign up</h4>
        
        <%= fields_for @user do |user_f| %>
          <div class="form-group">
            <%= user_f.label :first_name, class: 'sr-only' %>
            <%= user_f.text_field :first_name, class: "form-control", placeholder: 'First name'  %>
          </div>
          <div class="form-group">
            <%= user_f.label :last_name, class: 'sr-only' %>
            <%= user_f.text_field :last_name, class: "form-control", placeholder: 'Last name' %>
          </div>
          <div class="form-group">
            <%= user_f.label :email, class: 'sr-only' %>
            <%= user_f.email_field :email, class: "form-control", placeholder: 'Email address' %>
          </div>
          <div class="form-group">
            <%= user_f.label :password, class: 'sr-only' %>
            <%= user_f.password_field :password, class: "form-control", placeholder: 'Password' %>
          </div>
          <div class="form-group">
            <%= user_f.label :password_confirmation, class: 'sr-only' %>
            <%= user_f.password_field :password_confirmation, class: "form-control", placeholder: 'Password confirmation' %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit 'Create Party', class: 'btn btn-default btn-lg sign-up' %>
      </div>
    </div>
  </div>
<% end %>
