<%= form_for(@party) do |f| %>
  <% if @party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party.errors.count, "error") %> prohibited this party from being saved:</h2>

      <ul>
      <% @party.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="well">
      <div class="form-group">
        <%= f.label :name, 'Name of your party' %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="well col-md-6">
      <p>Your details</p>
      <%= fields_for @user do |user_f| %>
        <div class="form-group">
          <%= user_f.label :email %><br />
          <%= user_f.email_field :email, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= user_f.label :password %><br />
          <%= user_f.password_field :password, class: "form-control"  %>
        </div>
        <div class="form-group">
          <%= user_f.label :password_confirmation %><br />
          <%= user_f.password_field :password_confirmation, class: "form-control"  %>
        </div><br/>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.submit 'Create Party', class: 'btn btn-default btn-lg' %>
    </div>
  </div>
<% end %>
