<h1>Plan <%= @party.name %></h1>

<% @party.participants.each do |f|%>
	<p><%= f.email %><p>
	<% f.response.budgets.each do |b| %>
		<p><%= b.amount %><p>	
	<% f.response.date_options.each do |b| %>
		<p><%= b.start_date %> - <%= b.start_date %><p>	
	<% end %>
	<% end %>
	<%end %>
	


    


<p><%= link_to 'See party details', party_path(@party), class: 'btn btn-default btn-lg' %></p>
