<p id="notice"><%= notice %></p>

<p class="lead"><%=@party.name.capitalize%></p>

<div id="accordion"> 
	<h3>Hens</h3>
		<div>
			<% @party.participants.each do |f| %>
				
				<p><%= f.email %> | <%= f.first_name + " " + f.last_name %> </p>
			<% end %>
			<% if @party.participants.count > 0 %>
				<%= link_to 'Invite Hens', party_invitation_path(@party), class: 'btn btn-default btn-md' %>
			<% end %>
		</div>
		

	<h3>Budgets</h3>
		<div>	
			<% @party.budgets.each do |f| %>	
				<p><%= f.amount %></p>
			<% end %>
		</div>

	<h3>Dates</h3>
		<div>
			<% @party.date_options.each do |f| %>
				<p><%= f.start_date %> - <%= f.end_date %></p>
			<% end %>
		</div>
	</div>

<p><%= link_to 'Add options', edit_party_path(@party), class: 'btn btn-default btn-lg' %> </p>
