  <h1><%=@party.name.capitalize%> </h1>
  
  <div class="flex-grid">
  	<div>
      <h2>Participants</h2>
      	<% @party.participants.each do |f| %>
					<p><%= f.email %> | <%= f.first_name + " " + f.last_name %> </p>
				<% end %>		
    </div>

		<div>
      <h2>Budgets</h2>
				<% @party.budgets.each do |f| %>
					<div>	£<%= f.amount %></div>
				<% end %>
    </div>

    <div>
      <h2>Dates</h2>
				<% @party.date_options.each do |f| %>
					<div><%= f.start_date.strftime('%a %d %b %Y') %> - <%= f.end_date.strftime('%a %d %b %Y') %></div>
				<% end %>
    </div>
  </div>
  <div class="flex-grid">
  	<div>
      <h2>Contact Details</h2>
					
    </div>
  </div>

	<p><%= link_to 'Add options', edit_party_path(@party), class: 'btn btn-default btn-lg' %></p>
		<% if @party.participants.count > 0 %>
			<p><%= link_to 'Invite Hens', party_invitation_path(@party), class: 'btn btn-default btn-lg' %></p>
    <% end %>
  <p><%= link_to 'Plan this party', plan_party_path(@party), class: 'btn btn-default btn-lg' %></p>
</div>
