<h1>Invite the hens to <%= @party.name %></h1>

<div class='col-lg-9'>
<br/>
<br/>
<p>
  Send all the hens an email, you write the message and we'll add
  a special link for them to join your hen party.
</p>
<%= form_for :party_invitations, url: party_invitations_path,
                          html: { role: 'form' } do |f| %>
  
  <div class='form-group'>
    <%= f.label :subject %><br />
    <%= f.text_field :subject,
                     :value => "#{@party.name} - it's time to celebrate!",
                     :autofocus => true,
                     :class => "form-control" %>
  </div>
  <div class='form-group'>
    <%= f.label :message %><br />
    <%= f.text_area :message,
                    :value => render('draft_invitation'),
                    :class => "form-control",
                    :rows => 8 %>
  </div>

  <div class='form-group'>
    <%= f.submit 'Send invitations', :class => 'btn btn-default btn-pink' %>
  </div>
  <br/>
<% end %>


</div>