<div class="btn-group">
  <%= link_to 'View Party Details', party_path(@party), class: 'btn btn-default btn-lg' %>
    <% if @party.participants.count > 0 %>
      <%= link_to 'Itinerary', plan_itinerary_path(@party), class: 'btn btn-default btn-lg' %>
    <% end %>
</div>

<h1>Plan <%= @party.name %></h1>
<div class="flex-grid">
  <div class='chart transbox'>
    <h2>Budget Results</h2>
    <% if @budget_options.nil? || @budget_responses.nil? %>
      <p>No budgets voted for yet!</p>
    <% else %>
      <% @budget_options.each do | budget | %>
        <p>£<%= budget.amount %></p>
        <div style="width: <%=@budget_responses.count(budget.amount) + 10%>%;"><%= @budget_responses.count(budget.amount) %></div><br/>
      <%end %>
    <%end%>
  </div><br/>
  <div class='chart transbox'>
    <h2>Date Results</h2>
    <% if @date_options.nil? || @date_responses.nil? %>
      <p>No dates voted for yet!</p>
    <% else %>
      <% @date_options.each do | date_o | %>
        <p><%= date_o.start_date.strftime('%d %b %Y') %> - <%= date_o.end_date.strftime('%d %b %Y') %></p>
        <div style="width: <%=@date_responses.count(date_o.id) + 10%>%;"><%= @date_responses.count(date_o.id) %></div><br/>
      <%end %>
    <%end%>
  </div><br/>
</div>

<div class="flex-grid">
  <div>
    <h2>Search for accommodation with Expedia</h2>
    <%= form_for :accommodation, url: accommodation_to_plan_party_path, html: { role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :property_category, 'Type' %>
        <%= f.select :property_category, options_for_select(
                                          [["Hotel", 1],
                                           ["Vacation Rental", 4],
                                           ["Bed & Breakfast", 5]],
                                            "Hotel"),
                                         {},
                                         class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :arrival_date, 'Check in' %>
        <%= f.date_field :arrival_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :departure_date, 'Check out' %>
        <%= f.date_field :departure_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :max_rate, 'Price per person per night' %>
        <%= f.text_field :max_rate, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :guests, 'No. of guests' %>
        <%= f.text_field :guests, class: "form-control" %>
      </div>
      <%= f.submit 'Find accommodation', class: "btn btn-default" %>
    <% end %>
    <br />
    <% if @accommodation_results %>
      <%= render 'accommodation_results' %>
    <% end %>
  </div>
</div>

<div class="flex-grid">
  <div>
    <h2>Best prices to get your party started</h2>
    <% if @product_search_results %>
      <%= render 'product_search_results' %>
    <% end %>
    <%= form_for :product, url: products_to_plan_party_path, html: { class: 'form-inline', role: 'form' } do |f| %>
      <div class="form-group">
        <%= f.label :search, class: 'sr-only' %>
        <%= f.text_field :search, class: "form-control", size: 70, placeholder: "feather bowers, balloons, etc." %>
      </div>
      <%= f.submit 'Search', class: "btn btn-default" %>
    <% end %>
    <% if @best_price_pages %>
      <h3>Some suggestions for you</h3>
      <%= render 'best_price_products' %>
    <% end %>
  </div>
</div>
